<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<canvas id="myChart"></canvas>
<script>
  // Récupération des données du DataFrame
  var lineLabels = {{ line_labels|safe }};
  var lineValues = {{ line_values|safe }};

  // Création du graphique
  const ctx = document.getElementById('myChart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: lineLabels,
      datasets: [{
        label: 'Earth',
        data: lineValues,
        backgroundColor: 'rgb(255, 99, 132)',
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Google searches for "Earth" from January to March 2016',
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          },
        }],
      },
    },
  });
</script>
